.main {
    box-sizing: inherit;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.wrapper {
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 40px;
}

