.wrapper__inner {
    width: 800px;
    border: 1px solid #9fc9d8;
    border-radius: 50px;
    margin: 0 auto;
    background-color: #527581;
    background: radial-gradient(circle, rgb(132, 173, 185) 0%, rgb(20, 38, 49) 100%);
    background-position: 0% 20%;
    background-size: 200% 200%;
}

.title {
    padding: 50px;
    margin: 0px auto;
    text-align: center;
    color: #dddddd;
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    background-color: rgba(132, 173, 185, 0);
    color: #dddddd;
    border: none;
    border-radius: 5px;
    resize: none;
    
    &:focus {
        outline: 1px solid #9fc9d8;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #527581;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9fc9d8;
    }
}

.keyboard {
    padding: 5px;
    width: 710px;
    margin: 0 auto;
    background: none;
    border: none;
}
.keyboard__inner {
    display: flex;
    flex-wrap: wrap;
}
.key {
    flex-grow: 1;
    height: 45px;
    line-height: 40px;
    text-align: center;
    width: 6%;
    max-width: 90px;
    margin: 1px;
    border: 1px solid #9fc9d8;
    border-radius: 4px;
    background: rgb(129,171,183);
    background: linear-gradient(180deg, rgba(129,171,183,0.5) 0%, rgba(52,83,94,0.5) 100%);
    color: #ffffff;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s;
    user-select: none;

    &:hover {
        background: rgba(129,171,183,1);
    }

    &[data-code="Backspace"],
    &[data-code="CapsLock"],
    &[data-code="Enter"],
    &[data-code="ShiftLeft"],
    &[data-code="ShiftRight"] {
        width: 13%;
        flex-grow: 2;
    }

    &[data-code="Space"] {
        width: 46%;
        max-width: 400px;
        flex-grow: 3;
    }

    &[data-lang="RUS"] {
        color: #49fdf4;
    }

    &.key--pressed {
        border-radius: 20px;
        background: rgba(44,86,100,1)
    }
}

.help {
    margin: 10px auto;
    text-align: center;
    color: #dddddd;
}