/* ubuntu-regular - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/ubuntu-v20-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../assets/fonts/ubuntu-v20-latin_cyrillic-regular.woff') format('woff'); 
  }
